<div class="container mt-5">
  <div class="text-center">
    <h1>Welcome to Card Game</h1>
    <p class="lead">Choose the number of cards for your game</p>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <a routerLink="/card-game" class="card-option card-option-6">
        <p>6 Cards</p>
      </a>
    </div>
    <div class="col-md-6">
      <a routerLink="/card-twelve-game" class="card-option card-option-12">
        <p>12 Cards</p>
      </a>
    </div>
  </div>
</div>