<body id="bdy">
  <div class="score-display">
  <div>Score: {{score}}</div>
  <div>Moves: {{moves}}</div>
  <div>Misses: {{misses}}</div>
  <div>Accuracy: {{accuracy}}</div>
</div>
<div class="card-game">
  <div *ngFor="let card of cards" (click)="flipCard(card)">
    <div class="card" [ngClass]="{'flipped': card.flipped, 'matched': card.matched}">
      <div class="front"></div>
      <div class="back" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
    </div>
  </div>
</div>
<div *ngIf="showWinMessage" class="win-message">
  <p>You Won!</p>
  <button (click)="goToHomePage()">Play again</button>
</div>
</body>